*-error_log
*-access_log

/settings.php
/logs
/icons
/public_html/files
/lobbywatch_bearbeitung_gen.pgtm
/lobbywatch_bearbeitung.pgtm
/lobbywatch_db_files
/lobbywatch_bearbeitung.pgtm.xml
/lobbywatch_bearbeitung2.pgtm
