*-error_log
*-access_log
.htpasswds_lobbycontrol

/settings.php
/logs
/icons
/public_html/files
/lobbywatch_bearbeitung_gen.pgtm
/lobbywatch_bearbeitung.pgtm
/lobbywatch_db_files
/lobbywatch_bearbeitung.pgtm.xml
/lobbywatch_bearbeitung2.pgtm
/lobbywatch_bearbeitung.bad.pgtm
/lobbywatch_bearbeitung.pgtm.txt
*.bad
*.log
*.log.?
*.log.??
/lobbywatch_bearbeitung.bak.pgtm
/lobbywatch_bearbeitung.old.pgtm
/lobbywatch_bearbeitung.old.old.pgtm
/lobbywatch_bearbeitung.old.old.old.pgtm
VisualLobbyAspx/VisualLobby/VisualLobby.csproj.user
*.pdb
/tmp
/public_html/bearbeitung/PieChartReport_v02.zip
/app
/lobbywatch_bearbeitung.pgtm.orig.pgtm
/bak
/prod_bak
/sql
last_dbdump.txt
last_dbdump_data.txt
last_dbdump_file.txt
/*_upgrade.pgtm
public_html/bearbeitung/components/js/*-split.js
public_html/bearbeitung/components/js/custom/*.old.js
/web_scrapers/backup/*
/web_scrapers/archive/*
/web_scrapers/__pycache__
/web_scrapers/delta.sql
/web_scrapers/zutrittsberechtigte-nr.json
/web_scrapers/zutrittsberechtigte-sr.json
/parlamentarische-gruppen.json
/web_scrapers/parlamentarische-gruppen.json
/web_scrapers/parlamentarische_gruppen-delta.sql
/web_scrapers/zutrittsberechtigungen-delta.sql
/zutrittsberechtigte-sr.json
/zutrittsberechtigte-nr.json
/vendor
/public_html/status.php
/last_dbdump_struct.txt
/SPAG/
/old

/public_html/bearbeitung/files
/public_html/test
/public_html/lobbywatch_datenmodell.pdf
/public_html/lobbywatch_datenmodell_simplified.pdf
/public_html/lobbywatch_datenmodell_1page.pdf
/public_html/bearbeitung/templates_c/

/nohup.out

/dkim
/csv
/export
/data
public_html/custom/version.php
public_html/custom/build.php
public_html/custom/deploy.php
xdebug conditional breakpoint
docs/lobbywatch_daten_merkblatt_v*.pdf
exports/
*.code-workspace
lobbywatch_cleaned.sql
*.csv
pg_data_initial.json
pg_file-stripped_initial.pdf
web_scrapers/logging_dev.properties
config/cms_lw_crontab.txt
parlamentarische-freundschaftsgruppen.json
