*-error_log
*-access_log
.htpasswds_lobbycontrol

/settings.php
/logs
/icons
/public_html/files
/lobbywatch_bearbeitung_gen.pgtm
/lobbywatch_bearbeitung.pgtm
/lobbywatch_db_files
/lobbywatch_bearbeitung.pgtm.xml
/lobbywatch_bearbeitung2.pgtm
/lobbywatch_bearbeitung.bad.pgtm
/lobbywatch_bearbeitung.pgtm.txt
*.bad
*.log
/lobbywatch_bearbeitung.bak.pgtm
/lobbywatch_bearbeitung.old.pgtm
/lobbywatch_bearbeitung.old.old.pgtm
/lobbywatch_bearbeitung.old.old.old.pgtm
VisualLobbyAspx/VisualLobby/VisualLobby.csproj.user
*.pdb
/tmp
/public_html/bearbeitung/PieChartReport_v02.zip
/app
/lobbywatch_bearbeitung.pgtm.orig.pgtm
/bak
/prod_bak
/sql
last_dbdump.txt
last_dbdump_data.txt
last_dbdump_file.txt
/*_upgrade.pgtm
public_html/bearbeitung/components/js/*-split.js
public_html/bearbeitung/components/js/custom/*.old.js
/web_scrapersX/backup/*
