# https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html#container-units-container
[Unit]
Description=Lobbywatch HR watcher

[Container]
Image=lobbywatch/hr-watcher
Secret=hr-watcher-env-file,target=/opt/hr-watcher/.env
Tmpfs=/opt/hr-watcher/zefix-publ

[Service]
Restart=no
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900
