# https://www.freedesktop.org/software/systemd/man/latest/systemd.timer.html
[Install]
WantedBy=default.target

[Unit]
Description=timer for HR watcher

[Timer]
OnCalendar=Mon..Fri 6:00
Unit=hr-watcher.service
Persistent=True
