<p>
    You are seeing this notification because you are currently using the <strong>Lite Edition</strong> of PHP Generator.
    This edition allows you to create full-fledged web applications; however, we also offer the Professional Editon of this product
    that includes a lot of additional features. Refer to the <a href="https://www.sqlmaestro.com/products/mysql/phpgenerator/feature_matrix/" target="_blank">Comparison&nbsp;Table</a>
    to find considerable differences between the available editions.
</p>
<p>
    The list below shows the top features the <strong>Professional Edition</strong> provides (click a link to see the corresponding feature in action).
</p>

    <div class="container-fluid">
        <div class="row alert alert-info">
            <ul class="col-md-4 col-sm-6 col-xs-12 list-unstyled pro-feature-list">
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/index.php?group=Master-Detail+Views" target="_blank">Master-detail presentations</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/data_sources_updatable_query.php" target="_blank">Updatable SQL queries</a></li>
               <li><a class="alert-link" href="https://www.sqlmaestro.com/products/mysql/phpgenerator/help/01_03_04_page_editor_events/" target="_blank">User-defined Events</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/regular_season_games.php" target="_blank">Top side drop-down menu</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/data_grid_card_view.php" target="_blank">Card view mode</a></li>
            </ul>
            <ul class="col-md-4 col-sm-6 col-xs-12 list-unstyled pro-feature-list">
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/data_filtering_filter_builder.php" target="_blank">Filter Builder</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/data_filtering_column_filter.php" target="_blank">Column filter</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/index.php?group=Sorting" target="_blank">Multi-column sorting</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/index.php?group=Charts" target="_blank">Out-of-the-box charts</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/index.php?group=Partitioning" target="_blank">Data Partitioning</a></li>

            </ul>
            <ul class="col-md-4 col-sm-6 col-xs-12 list-unstyled pro-feature-list">
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/index.php?group=Emailing" target="_blank">Easy-to-use Email API</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/index.php?group=Custom+Templates" target="_blank">Custom templates</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/data_editing_on_the_fly_adding.php" target="_blank">On-the-Fly Adding</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/data_editing_custom_form_layouts.php" target="_blank">Custom form layouts</a></li>
               <li><a class="alert-link" href="http://demo.sqlmaestro.com/feature_demo/data_grid_record_comparison.php" target="_blank">Record comparison</a></li>
            </ul>
        </div>
    </div>

<p>
    To get the power of these features, purchase the Professional edition of PHP Generator.
    After purchasing you will get also priority support by e-mail and free upgrades during one or three year(s).
    Click the <strong>Buy now</strong> button to place an order.
</p>

<address class="text-right">
    Sincerely yours, <br>
    <a href="http://www.sqlmaestro.com/" target="_blank">SQL Maestro Group</a> team
    <br>
    Follow us:
    <a class="link-icon" href="https://www.facebook.com/SQLMaestro/" target="_blank"><i class="icon-facebook-square"></i></a>
    <a class="link-icon" href="https://twitter.com/SQLMaestroSoft" target="_blank"><i class="icon-twitter"></i></a>
    <a class="link-icon" href="https://www.youtube.com/SQLMaestro/" target="_blank"><i class="icon-youtube"></i></a>
</address>


<div class="alert alert-warning">
    <small>
        To get rid of this notification in the future, open the project file, go to the 4th step of the wizard, click the "Edit user JavaScript..." button and remove all code from there. Then regenerate the application.
    </small>
</div>