# https://docs.podman.io/en/latest/markdown/podman-systemd.unit.5.html#container-units-container
[Unit]
Description=Lobbywatch scraper service
Requires=mariadb.service

[Container]
Image=scraper.build
PodmanArgs=--privileged
Exec=-a -v -d -f
Mount=type=bind,source=/run/user/1000/ssh-agent.socket,target=/run/user/1000/ssh-agent.socket
Mount=type=bind,source=/home/almalinux/scraper/settings.php,target=/opt/lobbywatch/public_html/settings/settings.php,ro
Mount=type=bind,source=/home/almalinux/scraper/sql,target=/opt/lobbywatch/sql
Mount=type=bind,source=/home/almalinux/scraper/prod_bak,target=/opt/lobbywatch/prod_bak
Mount=type=bind,source=/home/almalinux/.ssh/known_hosts,target=/root/.ssh/known_hosts,ro
Mount=type=bind,source=/home/almalinux/scraper/my.cnf,target=/root/.my.cnf,ro
Network=scraper.network
Environment=LW_DB_HOST=mariadb
Environment=SSH_AUTH_SOCK=/run/user/1000/ssh-agent.socket

[Service]
Restart=no
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900
